{% extends "partials/default.twig" %}
{% block title %}
    Logout
{% endblock title %}
{% block main_container %}
    <div class="container">
        {% if logout_success %}
            <h3>YOU HAVE BEEN SUCCESSFULLY LOGGED OUT</h3>
        {% else %}
            <h3>SOMETHING WENT WRONG</h3>
        {% endif %}
        Redirecting you back to the home page in <span id="time_to_redirect">6</span> secs
    </div>
{% endblock %}
{% block res_extra_post_body %}
    <script src="/static/js/logout.js"></script>
{% endblock res_extra_post_body %}