@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body{ background: #f5f5f5; font: 12px 'Segoe UI', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;   margin: 0;}

.wcd{width:33%; height:40px; float:left;}
.wcd-logo{font-size: 36px; color: #fff;text-align: center; float:left; cursor: pointer;  color:#fff; font-size: 32px; font-family: 'Varela Round', sans-serif;
          -webkit-transition:color 0.3s ease-in;  -moz-transition:color 0.3s ease-in; x²-o-transition:color 0.3s ease-in; transition:color 0.3s ease-in;
}
.wcd-logo:hover{color:#3facff;}
.wcd-tuto{ font-family: 'Varela Round', sans-serif; color: #fff; font-size: 16px; line-height: 36px;}
.webcodo-top{width:100%; height:40px; background-color:#232323}

#msg-icon{width:35px; height: 43px;   margin:auto; cursor: pointer;}
.notif-empty{background: url(/static/img/notif-empty.png) 25% no-repeat; background-size: contain;
}
.notif-new{ background: url(/static/img/notif-new.png) 50% no-repeat; background-size: contain;
}
.counter{display: inline; color: #fff; font-size: 12px;  padding:0px 3px; float: right; margin-top: 7px; margin-right: 3px;
         border-radius: 2px;

         background: #f93a43; /* Old browsers */
         /* IE9 SVG, needs conditional override of 'filter' to 'none' */
         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5M2E0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjEyMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         background: -moz-linear-gradient(top, #f93a43 0%, #df121c 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f93a43), color-stop(100%,#df121c)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, #f93a43 0%,#df121c 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, #f93a43 0%,#df121c 100%); /* IE10+ */
         background: linear-gradient(to bottom, #f93a43 0%,#df121c 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93a43', endColorstr='#df121c',GradientType=0 ); /* IE6-8 */
}


.msg-cnt{width:300px; height: 400px; margin:20px auto;}
.notif{ width:160px; height:25px; padding: 10px; background-color: #27ae60; border-radius: 8px;  margin: 30px auto; cursor: pointer; 
        font-size: 20px; font-family: 'Varela Round', sans-serif; color: #fff; text-align: center; }
.notif:hover{ background-color: #d35400;}

.notif-bot-cnt{   position: absolute; bottom: 0; margin: 10px; }

