<footer class="footer">
    <div class="container">

        <div class="row" style="padding-top: 1%;">
            <div class="col-md-2 col-md-offset-2"><div class=""><p>Our Story</p></div></div>
            <div class="col-md-2"><div class=""><p>Contributors</p></div></div>
            <div class="col-md-2"><div class=""><p>Privacy</p></div></div>
            <div class="col-md-2"><div class=""><p>Contact Us</p></div></div>
        </div>
        <p class="text-muted">            </p>
    </div>
</footer>